In [108]:
import pandas as pd

# Path to data
file_path_joebiden = r'C:\Users\iurch\OneDrive\DataCircle\project_data\hashtag_joebiden.csv'
file_path_donaldtrump = r'C:\Users\iurch\OneDrive\DataCircle\project_data\hashtag_donaldtrump.csv'


#Columns to read
columns_to_read = ['created_at', 'tweet_id', 'tweet','likes', 'retweet_count','user_id', 'user_screen_name', 'user_join_date', 'user_followers_count', 
                   'user_location', 'lat', 'long','country', 'continent', 'state', 'state_code','collected_at']

try:
    df_joebiden = pd.read_csv(file_path_joebiden, usecols=columns_to_read,  engine='python')
    df_donaldtrump = pd.read_csv(file_path_donaldtrump, usecols=columns_to_read, engine='python')
    print("Data loaded successfully.")
    print(df_joebiden.head())
except Exception as e:
    print("Error loading data:", e)

print(df_joebiden.head())
print(df_donaldtrump.head())

Data loaded successfully.
            created_at                tweet_id  \
0  2020-10-15 00:00:01   1.316529221557252e+18
1  2020-10-15 00:00:18    1.31652929585929e+18
2  2020-10-15 00:00:20  1.3165293050069524e+18
3  2020-10-15 00:00:21  1.3165293080815575e+18
4  2020-10-15 00:00:22   1.316529312741253e+18

                                               tweet likes  retweet_count  \
0  #Elecciones2020 | En #Florida: #JoeBiden dice ...   0.0            0.0
1  #HunterBiden #HunterBidenEmails #JoeBiden #Joe...   0.0            0.0
2  @IslandGirlPRV @BradBeauregardJ @MeidasTouch T...   0.0            0.0
3  @chrislongview Watching and setting dvr. Let’s...   0.0            0.0
4  #censorship #HunterBiden #Biden #BidenEmails #...   1.0            0.0

                 user_id user_screen_name       user_join_date  \
0            360666534.0  elsollatinonews  2011-08-23 15:33:45
1            809904438.0     Biloximeemaw  2012-09-08 01:03:57
2           3494182277.0      Flag_Wavers  2015-08-30 19:38:21
3  8.242596012018524e+17    MichelleFerg4  2017-01-25 14:16:17
4  1.032806955356545e+18    theegoldstate  2018-08-24 01:49:01

  user_followers_count                 user_location         lat  \
0               1860.0  Philadelphia, PA / Miami, FL    25.77427
1               6628.0                           NaN         NaN
2               1536.0         Golden Valley Arizona  46.3040364
3                 27.0                           NaN         NaN
4                390.0               California, USA  36.7014631

                  long                   country      continent       state  \
0            -80.19366  United States of America  North America     Florida
1                  NaN                       NaN            NaN         NaN
2  -109.17143119999999  United States of America  North America     Montana
3                  NaN                       NaN            NaN         NaN
4  -118.75599740000001  United States of America  North America  California

  state_code                   collected_at
0         FL            2020-10-21 00:00:00
1        NaN  2020-10-21 00:00:00.517827283
2         MT  2020-10-21 00:00:01.035654566
3        NaN  2020-10-21 00:00:01.553481849
4         CA  2020-10-21 00:00:02.071309132
            created_at                tweet_id  \
0  2020-10-15 00:00:01   1.316529221557252e+18
1  2020-10-15 00:00:18    1.31652929585929e+18
2  2020-10-15 00:00:20  1.3165293050069524e+18
3  2020-10-15 00:00:21  1.3165293080815575e+18
4  2020-10-15 00:00:22   1.316529312741253e+18

                                               tweet likes  retweet_count  \
0  #Elecciones2020 | En #Florida: #JoeBiden dice ...   0.0            0.0
1  #HunterBiden #HunterBidenEmails #JoeBiden #Joe...   0.0            0.0
2  @IslandGirlPRV @BradBeauregardJ @MeidasTouch T...   0.0            0.0
3  @chrislongview Watching and setting dvr. Let’s...   0.0            0.0
4  #censorship #HunterBiden #Biden #BidenEmails #...   1.0            0.0

                 user_id user_screen_name       user_join_date  \
0            360666534.0  elsollatinonews  2011-08-23 15:33:45
1            809904438.0     Biloximeemaw  2012-09-08 01:03:57
2           3494182277.0      Flag_Wavers  2015-08-30 19:38:21
3  8.242596012018524e+17    MichelleFerg4  2017-01-25 14:16:17
4  1.032806955356545e+18    theegoldstate  2018-08-24 01:49:01

  user_followers_count                 user_location         lat  \
0               1860.0  Philadelphia, PA / Miami, FL    25.77427
1               6628.0                           NaN         NaN
2               1536.0         Golden Valley Arizona  46.3040364
3                 27.0                           NaN         NaN
4                390.0               California, USA  36.7014631

                  long                   country      continent       state  \
0            -80.19366  United States of America  North America     Florida
1                  NaN                       NaN            NaN         NaN
2  -109.17143119999999  United States of America  North America     Montana
3                  NaN                       NaN            NaN         NaN
4  -118.75599740000001  United States of America  North America  California

  state_code                   collected_at
0         FL            2020-10-21 00:00:00
1        NaN  2020-10-21 00:00:00.517827283
2         MT  2020-10-21 00:00:01.035654566
3        NaN  2020-10-21 00:00:01.553481849
4         CA  2020-10-21 00:00:02.071309132
            created_at                tweet_id  \
0  2020-10-15 00:00:01   1.316529221557252e+18
1  2020-10-15 00:00:01  1.3165292227484303e+18
2  2020-10-15 00:00:02   1.316529228091847e+18
3  2020-10-15 00:00:02   1.316529227471237e+18
4  2020-10-15 00:00:08  1.3165292523014513e+18

                                               tweet likes  retweet_count  \
0  #Elecciones2020 | En #Florida: #JoeBiden dice ...   0.0            0.0
1  Usa 2020, Trump contro Facebook e Twitter: cop...  26.0            9.0
2  #Trump: As a student I used to hear for years,...   2.0            1.0
3  2 hours since last tweet from #Trump! Maybe he...   0.0            0.0
4  You get a tie! And you get a tie! #Trump ‘s ra...   4.0            3.0

                user_id user_screen_name       user_join_date  \
0           360666534.0  elsollatinonews  2011-08-23 15:33:45
1           331617619.0  MediasetTgcom24  2011-07-08 13:12:20
2             8436472.0           snarke  2007-08-26 05:56:11
3  8.28355589206057e+17    trumpytweeter  2017-02-05 21:32:17
4            47413798.0        Ranaabtar  2009-06-15 19:05:35

  user_followers_count                 user_location         lat  \
0               1860.0  Philadelphia, PA / Miami, FL    25.77427
1            1067661.0                           NaN         NaN
2               1185.0                      Portland  45.5202471
3                 32.0                           NaN         NaN
4               5393.0                 Washington DC  38.8949924

           long                   country      continent  \
0     -80.19366  United States of America  North America
1           NaN                       NaN            NaN
2  -122.6741949  United States of America  North America
3           NaN                       NaN            NaN
4   -77.0365581  United States of America  North America

                  state state_code                   collected_at
0               Florida         FL            2020-10-21 00:00:00
1                   NaN        NaN  2020-10-21 00:00:00.373216530
2                Oregon         OR  2020-10-21 00:00:00.746433060
3                   NaN        NaN  2020-10-21 00:00:01.119649591
4  District of Columbia         DC  2020-10-21 00:00:01.492866121

In [109]:
# Display basic information about the datasets
print("\nDonald Trump Data:")
print(df_donaldtrump.info())

Donald Trump Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971087 entries, 0 to 971086
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            971087 non-null  object
 1   tweet_id              971073 non-null  object
 2   tweet                 971073 non-null  object
 3   likes                 971045 non-null  object
 4   retweet_count         970933 non-null  float64
 5   user_id               970929 non-null  object
 6   user_screen_name      970933 non-null  object
 7   user_join_date        970779 non-null  object
 8   user_followers_count  970917 non-null  object
 9   user_location         675830 non-null  object
 10  lat                   445702 non-null  object
 11  long                  445705 non-null  object
 12  country               442732 non-null  object
 13  continent             442749 non-null  object
 14  state                 320614 non-null  object
 15  state_code            300414 non-null  object
 16  collected_at          970765 non-null  object
dtypes: float64(1), object(16)
memory usage: 125.9+ MB
None

In [110]:
print("\nJoe Biden Data:")
print(df_joebiden.info())

Joe Biden Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777073 entries, 0 to 777072
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            777073 non-null  object
 1   tweet_id              776995 non-null  object
 2   tweet                 776995 non-null  object
 3   likes                 776914 non-null  object
 4   retweet_count         776895 non-null  float64
 5   user_id               776889 non-null  object
 6   user_screen_name      776895 non-null  object
 7   user_join_date        776784 non-null  object
 8   user_followers_count  776885 non-null  object
 9   user_location         543063 non-null  object
 10  lat                   355284 non-null  object
 11  long                  355284 non-null  object
 12  country               353770 non-null  object
 13  continent             353788 non-null  object
 14  state                 260191 non-null  object
 15  state_code            244603 non-null  object
 16  collected_at          776777 non-null  object
dtypes: float64(1), object(16)
memory usage: 100.8+ MB
None

In [111]:
# Transforming dtypes joebiden Data
# columns to datetime
parse_dates = ['created_at', 'user_join_date', 'collected_at']
for date_column in parse_dates:
    df_joebiden[date_column] = pd.to_datetime(df_joebiden[date_column], errors='coerce')

print(df_joebiden.dtypes)

created_at              datetime64[ns]
tweet_id                        object
tweet                           object
likes                           object
retweet_count                  float64
user_id                         object
user_screen_name                object
user_join_date          datetime64[ns]
user_followers_count            object
user_location                   object
lat                             object
long                            object
country                         object
continent                       object
state                           object
state_code                      object
collected_at            datetime64[ns]
dtype: object

In [112]:
# Transforming dtypes donald trump Data
# columns to datetime
parse_dates = ['created_at', 'user_join_date', 'collected_at']
for date_column in parse_dates:
    df_donaldtrump[date_column] = pd.to_datetime(df_donaldtrump[date_column], errors='coerce')

print(df_donaldtrump.dtypes)

created_at              datetime64[ns]
tweet_id                        object
tweet                           object
likes                           object
retweet_count                  float64
user_id                         object
user_screen_name                object
user_join_date          datetime64[ns]
user_followers_count            object
user_location                   object
lat                             object
long                            object
country                         object
continent                       object
state                           object
state_code                      object
collected_at            datetime64[ns]
dtype: object

Now we have to transform columns to the right datatype
tweet_id                        int64
tweet                           str
likes                           float64
retweet_count                  float64
user_id                         object
user_name                       object
user_join_date          datetime64[ns]
user_followers_count            object
user_location                   object
lat                             object
long                            object
country                         object
continent                       object
state                           object
state_code                      object

In [113]:
# Convert 'tweet_id' to numeric, invalid parsing will be set as NaN
df_joebiden['tweet_id_numeric'] = pd.to_numeric(df_joebiden['tweet_id'], errors='coerce')
# Trump Tweet_ID
df_donaldtrump['tweet_id_numeric'] = pd.to_numeric(df_donaldtrump['tweet_id'], errors='coerce')

In [114]:
# Drop rows where 'tweet_id_numeric' is NaN 
df_joebiden = df_joebiden.dropna(subset=['tweet_id_numeric'])
# Trump Tweet_ID
df_donaldtrump = df_donaldtrump.dropna(subset=['tweet_id_numeric'])

In [115]:
# Now convert 'tweet_id_numeric' to 'int64'
df_joebiden['tweet_id_numeric'] = df_joebiden['tweet_id_numeric'].astype('int64')
# Trump Tweet_ID
df_donaldtrump['tweet_id_numeric'] = df_donaldtrump['tweet_id_numeric'].astype('int64')

In [116]:
#Check
df_joebiden['tweet_id_numeric'].info
df_donaldtrump['tweet_id_numeric'].info

<bound method Series.info of 0         1316529221557252096
1         1316529222748430336
2         1316529228091846912
3         1316529227471237120
4         1316529252301451264
                 ...
971082    1325588843488276480
971083    1325588866045194240
971084    1325588885515227136
971085    1325588892905402368
971086    1325588894482534400
Name: tweet_id_numeric, Length: 970926, dtype: int64>

In [117]:
# Drop the old 'tweet_id' column 
df_joebiden = df_joebiden.drop(columns=['tweet_id']).rename(columns={'tweet_id_numeric': 'tweet_id'})
df_donaldtrump = df_donaldtrump.drop(columns=['tweet_id']).rename(columns={'tweet_id_numeric': 'tweet_id'})

In [118]:
#Cheking duplicates
df_joebiden['tweet_id'].duplicated().sum()

1856

In [119]:
df_joebiden = df_joebiden.drop_duplicates(subset=['tweet_id'])

In [120]:
df_donaldtrump['tweet_id'].duplicated().sum()

1347

In [121]:
df_donaldtrump = df_donaldtrump.drop_duplicates(subset=['tweet_id'])
df_donaldtrump['tweet_id'].duplicated().sum()

0

In [122]:
#Converting 'tweet' column to string format
df_joebiden['tweet'] = df_joebiden['tweet'].astype(str)
df_donaldtrump['tweet'] = df_donaldtrump['tweet'].astype(str)

In [123]:
df_joebiden['tweet'].duplicated().sum()

6649

In [124]:
df_donaldtrump['tweet'].duplicated().sum()

11043

In [125]:
# Drop duplicates based on 'tweet' column for the entire DataFrame
df_joebiden = df_joebiden.drop_duplicates(subset=['tweet'])
df_donaldtrump = df_donaldtrump.drop_duplicates(subset=['tweet'])

In [126]:
#Likes column cleaning

# Convert 'likes' to numeric, invalid parsing will be set as NaN
df_joebiden['likes_numeric'] = pd.to_numeric(df_joebiden['likes'], errors='coerce')
# Trump likes
df_donaldtrump['likes_numeric'] = pd.to_numeric(df_donaldtrump['likes'], errors='coerce')

In [127]:
# Drop rows where 'likes_numeric' is NaN 
df_joebiden = df_joebiden.dropna(subset=['likes_numeric'])
# Trump Tweet_ID
df_donaldtrump = df_donaldtrump.dropna(subset=['likes_numeric'])

In [128]:
# Now convert 'likes_numeric' to 'float64'
# Use .loc[] to avoid SettingWithCopyWarning
df_joebiden.loc[:, 'likes_numeric'] = df_joebiden['likes_numeric'].astype('float64')
#Trump likes column
df_donaldtrump.loc[:, 'likes_numeric'] = df_donaldtrump['likes_numeric'].astype('float64')

In [129]:
#Check
df_joebiden['likes_numeric'].info
df_donaldtrump['likes_numeric'].info

<bound method Series.info of 0           0.0
1          26.0
2           2.0
3           0.0
4           4.0
          ...
971082      0.0
971083      4.0
971084     25.0
971085      0.0
971086    105.0
Name: likes_numeric, Length: 958528, dtype: float64>

In [130]:
# Drop the old 'likes' column 
df_joebiden = df_joebiden.drop(columns=['likes']).rename(columns={'likes_numeric': 'likes'})
df_donaldtrump = df_donaldtrump.drop(columns=['likes']).rename(columns={'likes_numeric': 'likes'})

In [131]:
# Check how many duplicate rows there are based on 'tweet_id' and 'likes'
num_duplicates = df_joebiden.duplicated(subset=['tweet_id', 'likes']).sum()
print(num_duplicates)

0

In [132]:
# Check how many duplicate rows there are based on 'tweet_id' and 'likes'
num_duplicates = df_donaldtrump.duplicated(subset=['tweet_id', 'likes']).sum()
print(num_duplicates)

0

In [133]:
print(df_joebiden.columns)

Index(['created_at', 'tweet', 'retweet_count', 'user_id', 'user_screen_name',
       'user_join_date', 'user_followers_count', 'user_location', 'lat',
       'long', 'country', 'continent', 'state', 'state_code', 'collected_at',
       'tweet_id', 'likes'],
      dtype='object')

In [134]:
nan_likes_joe_biden = df_joebiden['likes'].isna().sum()
nan_likes_joe_biden

0

In [135]:
nan_likes_trump = df_donaldtrump['likes'].isna().sum()
nan_likes_trump

0

In [136]:
#Retweet column

nan_retweets_biden = df_joebiden['retweet_count'].isna().sum()
nan_retweets_biden

0

In [137]:
nan_retweets_trump = df_donaldtrump['retweet_count'].isna().sum()
nan_retweets_trump

0

In [138]:
# Check how many duplicate rows there are based on 'tweet_id' and 'retweet'
retweet_duplicates_trump = df_donaldtrump.duplicated(subset=['tweet_id', 'retweet_count']).sum()
print(retweet_duplicates_trump)

0